body {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.4em;
    background-color: black;
}

/* ----------------------------------Navbar */

.navbar {
    justify-content: center;
}

/* ----------------------------------Hover.css */

.hvr-underline-from-center:before {
    background: rgba(255, 53, 3)
}

/* ----------------------------------Footer */


.footer-sizing {
    height: 20px;
    width: 30px;
}

.twitch-icon {
    color: #6441A4;
}

.twitch-icon:hover {
    color: pink;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.twitter-icon {
    color: #08a0e9;
}

.twitter-icon:hover {
    color: #9CD9F6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fb-icon {
    color: #3b5998;
}

.fb-icon:hover {
    color: #5f7ec1;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.youtube-icon {
    color: #FF0000;
}

.youtube-icon:hover {
    color: rgb(248, 174, 174);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
