body {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.2em;
    background-color: black;
    color:white;
    margin: auto;
}

/* ----------------------------------Navbar */

.navbar-text {
    color: white
}

.navbar-text:hover {
    color:rgba(255, 53, 3);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.hvr-underline-from-center:before {
    background: rgba(255, 53, 3)
}

.custom-toggler.navbar-toggler {
    border-color: rgb(201, 58, 22);
    border-width: thick;
}

.custom-toggler .navbar-toggler-icon { 
            background-image: url( 
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(201, 58, 22, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
        } 

/* ----------------------------------Index section */


#btn-text {
    color: white;
}

#btn-text:hover {
    color: black;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.jumbotron {
    background-image:url('../images/black-goku.png');
    height: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    color: white;
    opacity: 0.7;
}

#intro {
    text-align: center;
    padding-top: 20px;
}

.contrast {
    color: black;
    text-shadow: 1px 1px #d3d3d3;
}


#po-btn {
    padding-top: 275px;
    border-color: black;
}

.buy-btn {
    background-color:rgba(255, 53, 3);
    color: white;
    padding: 30px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.content {
    padding: 40px 10px;
}

.content-image {
    width: 80%;
}

.index-structure {
    margin-top: 30px;
}

/* ----------------------------------Media */

.img-style {
    background: gray;
    border: gray;
    margin-bottom: 15px;
}

#trailer-dimensions {
    width: 100%;
    height: 500px;
}


/* ----------------------------------Fighterz.css */

.fighter-container {
    padding: 5px 5px;
}

.fighter-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.fighter-div {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fighter-container:hover .fighter-image {
  opacity: 0.3;
}

.fighter-container:hover .fighter-div {
  opacity: 1;
}

.fighter-text {
  color: white;
  font-size: 20px;
  padding: 16px 32px;
}

/* ----------------------------------Reviews */

.review-content {
    padding: 40px 10px;
    text-align: center;
}

.review-logo {
    margin-right: 5px;
}
/* ----------------------------------Pre-order */

#checkout {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* ----------------------------------Footer */



.twitch-icon {
    color: #6441A4;
}

.twitch-icon:hover {
    color: pink;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.twitter-icon {
    color: #08a0e9;
}

.twitter-icon:hover {
    color: #9CD9F6;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.fb-icon {
    color: #3b5998;
}

.fb-icon:hover {
    color: #5f7ec1;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.youtube-icon {
    color: #FF0000;
}

.youtube-icon:hover {
    color: rgb(248, 174, 174);
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding: 20px 20px 20px;
    background: black;
}

.bandai-image {
    padding-top: 30px;
    width: 7em;
}

.mature-image {
    padding-top: 20px;
    width: 4em;
}

.copyright-text {
    font-size: 13px;
}


