body {
    font-family: 'Exo 2', sans-serif;
    font-size: 1.4em;
    background-color: orange;
}

.iframe-container{
  position: relative;
  width: 50%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}